<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h2 class="text-center">Sign up</h2>
      <% if params[:plan] == "2" %>
        <%= render "premium_form" %>
      <% else %>
        <%= render "basic_form" %>
      <% end %>
  </div>
</div>