<div class="col-md-6">
    <div class = "advert-form well">
        <h2 class="text-center">Basic Membership</h2>
        <h4>Sign up for a free account and get basic access to the following features:</h4>
        <ul>
            <li>Thing 1</li>
            <li>Thing 2</li>
            <li>Last but not least, Thing 3!</li>
            <li style="text-decoration:line-through; color:#101010;">Literally nothing else</li>
        </ul>
        <%= link_to "Sign up for free", new_user_registration_path(plan: @basic_plan.id), class: 'btn btn-primary btn-lg btn-block signup-button' %>
    </div>
</div>
<div class="col-md-6">
    <div class = "advert-form well">
        <h2 class="text-center">Premium Membership</h2>
        <h4>Sign up for a premium account and get basic access to the following features:</h4>
        <ul>
            <li>Thing 1</li>
            <li>Thing 2</li>
            <li>Thing 3</li>
            <li>Literally nothing else</li>
        </ul>
        <%= link_to "Sign up for big bucks", new_user_registration_path(plan: @premium_plan.id), class: 'btn btn-success btn-lg btn-block signup-button' %>
    </div>
</div>