<div class="row">
    <ul class="nav nav-tabs nav-justified col-md-12">
        <li class="active col-md-6">
            News
        </li>
        <li class="col-md-6">
            Blog
        </li>
    </ul>
</div>