<div class='container'>
    <h2>About The Mix Exchange</h2>
	<p>This group is about mixing and sharing music. Each month we'll have a theme to provide a starting point for your mix, but you're welcome to take it in any direction you want. You'll be paired with another member of the group for the exchange, and you're encouraged to talk with them about their interests / preferred format before getting started on your mix.</p>
	<p><h3>General outline of how each exchange will go:</h3>
		<ol>
			<li>Theme determined, group members paired</li>
			<li>Talk about details with your mix buddy (musical interests, best format for mix, etc.)</li>
			<li>Make and exchange!</li>
		</ol>
	</p>
	<p>CDs are highly recommended (way more fun / customizable than a playlist) but may not work for everyone, so they're not a requirement.</p>

	<p><h3>Suggestions for making mixes</h3>
		<ol>
			<li>Be sensitive to your recipient&#8217;s tastes, but push boundaries here and there.</li>
			<li>Start with a few songs that fit well together, then expand from there and piece other songs in.</li>
			<li>Mix sounds/intensities up. Don&#8217;t hammer one point home too hard.</li>
			<li>Think about song positioning, transitions.</li>
			<li>From time to time, try to think of weird but interesting combinations of styles (electronic + punk, metal + folk)</li>
			<li>Dig deep. Go through your whole music library to see what you can find. Combine new and old when you can.</li>
			<li>Listen to the mix at least once, make decisions about what to cut and what to move.</li>
			<li>Inject your personality into the packaging + presentation.
			Provide a track list!</li>
		</ol>
	</p>
	<p><h3>Listener best practices</h3>
		<ol>
			<li>Keep an open mind. Avoid looking at the track list until you&#8217;ve listened to the mix and gotten a feel for things.</li>
			<li>Give feedback - in particular about what you liked, but also about what you didn’t care for.</li>
		</ol>
	</p>

	<p><h3>PAQ (Preemptively Answered Questions)</h3>
		<ol>
			<li>What if I really want to give someone a mix?<br>
			- Ask them! Nobody will know.</li>
			<li>What if I really want a mix from a specific person?<br>
			- Ask them! Nobody will know.</li>
			<li>What if I don’t want to / can’t participate in an exchange?<br>
			- Tell me! We'll need to get your mix buddy re-paired with someone.</li>
		</ol>
	</p>
</div>