<div class="jumbotron text-center">
    <h1>Welcome to The Mix Exchange</h1>
    <h3>you fucking hipster</h3>
</div>
<div class = "row">
    <% if user_signed_in? %>
        <%= render "member_front" %>
    <% else %>
        <%= render "guest_front" %>
    <% end %>
</div>