/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

* {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

/*Custom CSS for the main page*/
.advert-form {
    height: 300px;
    position: relative;
}

.signup-button {
    position: absolute;
    bottom: 20px;
    width: 92%;
}


/*Custom CSS for alerts and notices*/
.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }
 
 #error_explanation {
     background-color: #fcf8e3;
     border-color: #faebcc;
     color: #8a6d3b;
     border-radius: 4px;
     border: 1px solid transparent;
     padding: 15px;
     margin-bottom: 20px;
     font-size: 14px;
 }
 
 #error_explanation h2 {
     font-size: 18px;
 }
 
.sidebar.profile-photo {
    max-width: 187px;
}